<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Suburb</th>
      <th>Phonenumber</th>
      <th>Email</th>
      <th>Origin</th>
      <th>Age</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to  employee.firstname, employee %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.suburb %></td>
        <td><%= employee.phonenumber %></td>
        <td><%= employee.email %></td>
        <td><%= employee.origin %></td>
        <td><%= employee.age %></td>
        <td><%= employee.gender %></td>
  
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
