<%= simple_form_for(@employer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs insert-table">
    <%= f.input :company_name %>
    <%= f.input :address %>
    <%= f.input :about %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
