<p id="notice"><%= notice %></p>

<h1>Listing Internships</h1>

<table>
  <thead>
    <tr>
      <th>Employer</th>
      <th>Phonenumber contact person</th>
      <th>Title</th>
      <th>Salary</th>
      <th>Suburb</th>
      <th>Email contact person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internships.each do |internship| %>
      <tr>
        <td><%= internship.employer %></td>
        <td><%= internship.phonenumber_contact_person %></td>
        <td><%= internship.title %></td>
        <td><%= internship.salary %></td>
        <td><%= internship.suburb %></td>
        <td><%= internship.email_contact_person %></td>
        <td><%= link_to 'Show', internship %></td>
        <td><%= link_to 'Edit', edit_internship_path(internship) %></td>
        <td><%= link_to 'Destroy', internship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internship', new_internship_path %>
